:root {
    --color-background: rgb(21, 51, 42);

    --color-form-background: rgb(107, 187, 126);
    --color-form-title: rgb(77, 2, 45);

    --color-button-background: rgb(117, 0, 68);
    --color-button-text: rgb(255, 255, 255);

    --color-input-shadow-deselected: 5px 5px 5px rgb(53, 11, 11);
    --color-input-shadow-selected: 10px 8px 10px rgb(53, 11, 11);
    
}