:root {
    --color-background: rgb(21, 51, 42);
    --color-background-form: rgb(107, 187, 126);
    --color-title-text: rgb(77, 2, 45);
    --color-background-button: rgb(117, 0, 68);
    --color-text-button: rgb(255, 255, 255);
    --color-box-shadow: 5px 5px 5px rgb(53, 11, 11);
}