@import "./mainStyles.scss";

html,
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom right, var(--color-background), var(--color-background2)) ;
}

#app {
    height: 100%;
}